.Reader{
   width: 80%;
   background-color: var(--main-color);
   padding: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    
}

.BrowserButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.BrowseButton, .RemoveButton, .GenerateButton{
    width: 100px;
}

.FileBox{
    width: 200px;
    height: 40px;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}



