.Reader{
   width: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.BrowserButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    width: 100%;
}

.BrowseButton, .RemoveButton, .GenerateButton{
    width: 100px;
}

.FileBox{
    width: 200px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



