
.App {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
  padding-top: 100px;
  position: relative;
}

.Header{
  background-color:var(--main-color);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 100px;
}

.TitleDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.Logo{
    width: 50px;
    margin: 10px;
}

.Title{
    color: var(--light-color);
}

nav{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.NavLink{
    color: var(--light-color);
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.3rem;
}

.Selected{
    color: var(--highlight-color);
}


.PageArea{
  padding: 5vw 10vw;
}
