
.App {
  min-height: 100vh;
  min-width: 300px;
  width: 100%;
  background-color: var(--secondary-color);
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header{
  background-color:var(--main-color);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 100px;
}

.TitleDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
}

.Logo{
    width: 50px;
    margin: 10px;
    padding-bottom: 10px;
}

.Title{
    color: var(--light-color);
}

nav{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    
}

.NavLink{
    color: var(--light-color);
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.3rem;
}

.Selected{
    color: var(--highlight-color);
}

.PageArea{
  padding: 5vw 10vw;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PurchasesDiv{
  width: 100vw;
  max-width: 800px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

table{
  width: calc(80% + 20px);
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 10px;
  border-collapse: collapse;
  border-left: 1px var(--light-color) solid;
  border-top: 1px var(--light-color) solid;
}

tr{
  border-bottom: 1px var(--light-color) solid;
}

td{
  border-right: 1px var(--light-color) solid;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .Header{
    height: 120px;
    justify-content: center;
  }

  .NavLink{
    font-size: .9rem;
  }
}


