.PointsPage{
    background-color:var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
}

.Instructions{
    width: 80%;
    text-align: center;
    background-color: var(--main-color);
    padding: 10px;
    margin: 10px;
}

.Instructions > a{
    color: var(--highlight-color);
    font-weight: bold;
}

.ButtonDiv{
    width: 80%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.PointsPage > button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--highlight-color);
}

.PointsDiv{
    width: 80%;
    background-color: var(--main-color);
    padding: 10px;
    margin: 10px;
}

.CustomerTotal{
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    padding: 5px;
}



