.PointsPage{
    width: 100vw;
    max-width: 800px;
    background-color:var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
}

.Instructions{
    width: 80%;
    /* text-align: center; */
    background-color: var(--main-color);
    padding: 10px;
    margin: 10px;
    
}

.Instructions > li{
    line-height: 2rem;
    padding-left: 22px;
    text-indent: -22px;
}

.Indented{
    margin-left: 55px;
}

.ButtonDiv{
    width: 80%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.PointsPage > button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--highlight-color);
}

.PointsDiv{
    width: 80%;
    background-color: var(--main-color);
    padding: 10px;
    margin: 10px;
}

.CustomerTotal{
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    padding: 5px;
}



@media screen and (max-width: 600px) {
    .Indented{
        margin-left: 33px;
    }
  }